/* Estilos básicos para el diseño */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1 a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

nav ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul.menu > li {
  position: relative;
  margin-right: 20px;
}

nav ul.menu > li > a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul.menu .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  padding: 10px;
  border-radius: 4px;
  min-width: 200px;
}

nav ul.menu > li:hover .submenu {
  display: block;
}

nav ul.menu .submenu li {
  margin: 5px 0;
}

nav ul.menu .submenu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

#portada img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

footer p {
  margin: 0;
}
